.header-card{
    height: 50px;
    background-color: Blue;
  }
  .input1{
    height: 150px;
    width: 50%;
    margin: 25px 0px 0px 260px;
    
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  